.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    bottom: 0;
    width: 100%
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 50px; */
}

.grid-item {
    word-break: break-word;
}

.column-footer-1,
.column-footer-2,
.column-footer-3 {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-size: 15px;
    font-family: monospace;
}

.column-footer-1 {
    text-align: left;
}

.column-footer-2 {
    text-align: right;
}